params {
    conda_yml = "container-files/rad_nextflow_conda.yml" 
    dataPath = "ncbi_dataset/data/GCF_006094295.1/GCF_006094295.1_ASM609429v1_genomic.fna"
}

profiles {
    test {
        process.executor = "local"
        outputDir = "local_outputs"
        params.limitAccession = 30
    }
    release {
        process.executor = "local"
        outputDir = "local_outputs" 
    }
    conda {
        process.conda = params.conda_yml
        conda.enabled = true
        conda.cacheDir = "${System.getenv('HOME')}/.nextflow/conda"
    }
    docker {
        process.container = 'rad_nextflow_docker'
        docker.enabled = true
    }
    apptainer {
        process.container = 'container-files/rad_apptainer.sif'
        apptainer.enabled = true
    }
}