// cleanup = true
plugins {
    id 'nf-boost'
}


// ––Global params––
// API Keys
params{
    NCBI_API_KEY = secrets.NCBI_API_KEY ?: ''
}
//Other
params {
    conda_yml = "container-files/rad_nextflow_conda.yml" 
    dataPath = "ncbi_dataset/data/GCF_006094295.1/GCF_006094295.1_ASM609429v1_genomic.fna"
    force_download = false
}

// Profiles (called by adding -profiles each,profile,name)

profiles {
    autoClean {
        boost {
            cleanup = true
            cleanupInterval = '180s'  // Cleanup evaluation interval
        }
    }
    slurm {
        process {
            executor = 'slurm'
            cpus = 1
            memory = "2 GB"
            time = "1h"

            withLabel: "REQUIRES_INTERNET"{
                executor = 'local'
            }
        }
    }
    test {
        // outputDir = "test_rad_outputs"
        params.limitAccession = 30
    }
    release {
        outputDir = "rad_outputs" 
    }
    conda {
        process.conda = params.conda_yml
        conda.enabled = true
        conda.cacheDir = "${System.getenv('HOME')}/.nextflow/conda"
    }
    docker {
        process.container = 'rad_nextflow_docker'
        docker.enabled = true
    }
    apptainer {
        process.container = 'container-files/rad_apptainer.sif'
        apptainer.enabled = true
    }
}
